<div class="bg"></div>
<div class="brand">
  portfol<span>.</span>io
</div>
<div class="login__form">
  <h1>Sign Up</h1>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form__group">
      <label class="required" for="firstName">First Name</label>
      <input type="text" formControlName="firstName" id="firstName" />
    </div>
    <div class="form__group">
      <label for="lastName">Last Name</label>
      <input type="text" formControlName="lastName" id="lastName" />
    </div>
    <div class="form__group">
      <label class="required" for="email">Email Address</label>
      <input type="email" formControlName="email" id="email" />
      <span
        id="errorEmail"
        *ngIf="
          registerForm.get('email').dirty &&
          registerForm.get('email').errors &&
          registerForm.get('email').errors.emailTaken
        "
        class="text-danger"
        ><fa-icon [icon]="['fas', 'info-circle']"></fa-icon>email already
        taken</span
      >
      <span
        id="errorEmail"
        *ngIf="
          registerForm.get('email').errors &&
          registerForm.get('email').dirty &&
          registerForm.get('email').errors.email
        "
        class="text-danger"
        ><fa-icon [icon]="['fas', 'info-circle']"></fa-icon> must be an
        email</span
      >
    </div>
    <div class="form__group">
      <label class="required" for="password">Password</label>
      <input type="password" formControlName="password" id="password" />
      <span
        id="errorPassword"
        *ngIf="
          registerForm.get('password').dirty &&
          registerForm.get('password').invalid
        "
        class="text-danger"
      >
        <fa-icon [icon]="['fas', 'info-circle']"></fa-icon>minimum length must
        be 8</span
      >
    </div>
    <div class="form__group">
      <label class="required" for="confirmPassword">Confirm Password</label>
      <input
        type="password"
        formControlName="confirmPassword"
        id="confirmPassword"
      />
      <span
        id="errorConfirmPassword"
        *ngIf="
          registerForm.get('confirmPassword').dirty &&
          registerForm.get('password').dirty &&
          registerForm.get('password').valid &&
          registerForm.errors &&
          registerForm.errors.confirmPasswordValid
        "
        class="text-danger"
      >
        <fa-icon [icon]="['fas', 'info-circle']"></fa-icon>passwords must match
      </span>
    </div>
    <button type="submit" [disabled]="registerForm.invalid">Sign Up</button>
  </form>

  <a href="#" routerLink="/login">Already have an account, Sign in Now</a>
</div>
